body{
    /* justify-content: center; */
    /* text-align: center; */
}
li{
    color: white;
}

.INSTRUCTIONS{
    justify-content: start;
    text-align: center;
    align-items: center;
    margin-top: 10%;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px 0px rgb(95, 92, 92)inset;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    background-color: beige;
}
#back-button{
    height: 40px;
}
ol{
    text-align: start;
    margin-left: 13vw;
    font-size: 2.2vw;
}

@media all and (min-width:350px)and (max-width:800px){
.INSTRUCTIONS{
    margin-top: 50%;
}
ol{
    font-size: 5vw;
    margin-left: 3vw;
}
button{
    margin-top: 10vw;
}
h1 , h2{
    font-size: 8vw;
}
}