body{
    background-image:url(th\ 1.png) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    gap:250px;
}




.bthink{
    /* margin-left: -47vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:2vh ;
    margin-bottom: 17vh;
    position: relative;
    top: 50vw;
}
 .swagat{
    height: -500vh;
}

/* .name{ */
    /* width: 20vw; */
/* } */

.nickname{
    /* margin-top: -1000vh; */
    /* margin-bottom: 25vh; */
    /* margin-left: 55%; */
    height: 40px;
    width: 500px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px 0px rgb(95, 92, 92)inset;
    border: none;
    gap: 20px;
}
.button{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 4px 10px 0px rgb(95, 92, 92)inset;
    border: none;
}
 .indexpage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
 }
 .mobile-hand-thinking{
    height: -100vh;
    /* margin-top: ; */

 }

@media all and (min-width:350px) and (max-width:800px){
.indexpage{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.swagat{
    height: 20vh;
}
.name{
    width: 300px;
}
.mobile-hand-thinking{
height: 40vh;
/* margin-top: 10px; */
}
.nickname{
    margin-left: -10%;
    width: 315px;
}
.live-div{
    margin-top: 1vh;
    font-size: 12px;
    margin-left: -38%;
    left: 230px;
    top: 50px;
}
}
